-- Migration pour ajouter la colonne preview_url à la table holerites
-- Exécutez ce script dans l'éditeur SQL de Supabase

-- Vérifier si la colonne preview_url existe déjà
DO $$
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM information_schema.columns 
        WHERE table_schema = 'public' 
        AND table_name = 'holerites' 
        AND column_name = 'preview_url'
    ) THEN
        ALTER TABLE holerites ADD COLUMN preview_url TEXT;
        RAISE NOTICE 'Coluna preview_url adicionada à tabela holerites';
    ELSE
        RAISE NOTICE 'Coluna preview_url já existe na tabela holerites';
    END IF;
END $$;

-- Vérifier la structure finale de la table
SELECT column_name, data_type, is_nullable, column_default
FROM information_schema.columns
WHERE table_schema = 'public'
AND table_name = 'holerites'
ORDER BY ordinal_position;
